<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- <div class="heading"> ANALYSIS DONE ON DATASET </div> -->



<head>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
<script src="./js/graph.js"></script>
</head>
<canvas id="myChart" width="300" height="100"></canvas>
<canvas id="myChart2" width="300" height="100"></canvas>
<canvas id="myChart3" width="300" height="100"></canvas>

    


<!-- Graph part has to be done -->