<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<div>
    <div class="heading">ANALYSIS</div>
   <img src="/img/graph.png" alt="Graph is not visible" class="graph-img">
</div>